* {
    font-family: sans-serif;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 13px;
    margin-inline: 29px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    background-color: #fffcf9;
}

#merch {
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 200px;
}

footer {
    font-weight: bold;
    padding: 5px;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
}

nav {
    font-weight: bold;
    background-color: antiquewhite;
}

table,
tr,
th,
td {
    text-align: center;
    border: 1px solid black;
}